 .card{
    text-align: center;
    width: fit-content ;
    height: fit-content;
    border: 1rem solid hsl(276, 92%, 19%);
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
 }
.closeBtn{
    background-color: hsl(276, 92%, 19%);
    border:3px solid black;
    color: aliceblue;
    display: inline;
    position:relative;
    left: 45%;
    border-radius: 12px;
    padding: 3px 6px;  
} 

.img{
   border-radius: 50%;
}

 h2{
    margin: 0;
 }


 